<template>
  <div id="purchase">
    <div class="purchase__title-wrapper">
      <h2 class="purchase__title">
        二步驟
        <br />打造專屬殼
      </h2>
    </div>
    <!-- 手機殼顯示區 -->
    <div class="display__area">
      <section class="purchase__preview">
        <div class="purchase__preview-images-wrapper">
          <img v-if="device.phone" :src="device.phone.image" alt class="purchase__preview-image main" />
          <img v-if="device.frame" :src="device.frame.image" alt class="purchase__preview-image sub case" />
          <img v-if="device.rim" :src="device.rim.image" alt class="purchase__preview-image sub rim" :class="{'purchase__preview-image--backward': caseType === 'standard'}" />
          <img v-if="device.button" :src="device.button.image" alt class="purchase__preview-image sub button" />
          <img v-if="device.backplate" :src="device.backplate.image" alt class="purchase__preview-image sub backplate" :class="{'purchase__preview-image--backward': caseType === 'bumper'}" />
        </div>
        <div class="purchase__selector-wrapper phone">
          <div class="color-container">
            <p class="color-picker-title">
              裝置
              <br />顏色
            </p>
            <div v-if="product.phone" class="normal color-picker color-picker--vertical">
              <div v-for="variant in product.phone.variants" :key="variant.id" class="color-picker--vertical__option" :class="{active: variant.id === device.phone.id}" @click="selectPhone(variant)">
                <div class="dot" :style="{backgroundColor: colorMapping.phone[variant.optionsWithKey.color]}"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="purchase__backplate-switch-wrapper">
          <div class="backplate-switch light">
            <section class="backplate-switch__common">
              <div class="backplate-switch__option" @click="caseType = 'standard'">
                <div class="backplate-switch__checkbox" :class="{'backplate-switch__checkbox--active': caseType === 'standard'}"></div>
                <p class="backplate-switch__mode-name">背板模式</p>
              </div>
              <div class="backplate-switch__option" @click="caseType = 'bumper'">
                <div class="backplate-switch__checkbox" :class="{'backplate-switch__checkbox--active': caseType === 'bumper'}"></div>
                <p class="backplate-switch__mode-name">邊框模式</p>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
    <!-- 型號/顏色顯示區 -->
    <div class="selection__area">
      <div class="selection__area__top">
        <div class="device__selector">
          <span>{{ product.deviceLabel }}</span>
          <select name id="device" v-model="product" @change="selectProduct(product)">
            <option v-for="item in productList" :key="item.deviceName" :value="item">{{ item.deviceLabel }}</option>
          </select>
        </div>
        <div class="outward">
          <div class="option__block">
            <p class="option__title">手機殼顏色</p>
            <div class="icon"></div>
          </div>
          <div class="case_color">
            <ul>
              <li v-for="color in product.colors" :key="color" :style="{backgroundColor: colorMapping.case[color]}" :class="{active: color === caseColor}" @click="selectColor(color)"></li>
            </ul>
          </div>
          <div class="option__block">
            <p class="option__title">背板樣式</p>
            <div class="icon"></div>
          </div>
          <div v-if="product.backplate" class="backplate_style">
            <div class="backplate_container">
              <div v-for="variant in product.backplate.variants" :key="variant.id" class="backplate_box" :class="{active: variant.id === device.backplate.id}" @click="selectBackplate(variant)">
                <img :src="variant.image" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout">
        <div class="checkout__detail">
          <p class="checkout__detail__info">產品包含:</p>
          <p class="checkout__detail__info">手機殼外框 (黑) x 1</p>
          <p class="checkout__detail__info">按鍵 (黑) x 3</p>
          <p class="checkout__detail__info">背板 (透明) x 1</p>
          <p class="checkout__detail__info">飾條 (黑) x 1</p>
        </div>
        <div class="checkout__button__block">
          <button class="checkout__btn" @click="addToCart">加入購物車</button>
          <p v-if="countProce" class="price">${{countProce}} TWD</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
  },
  data() {
    return {
      cartItems: [],
      product: {},
      productList: [],
      caseType: 'standard', // standard, bumper
      device: {
        backplate: {},
        button: {},
        frame: {},
        phone: {},
        rim: {}
      }, // bind select
      caseColor: ''
    }
  },
  computed: {
    colorMapping() {
      return {
        case: {
          Black: '#383636',
          'Blush Pink': '#f2d1cb',
          'Camo Green': '#505e31',
          Graphite: '#4f4f47',
          Lavender: '#9390a7',
          'Mint Green': '#c3edc7',
          'Platinum Gray': '#afb4b0',
          Red: '#dc5455',
          'Royal Blue': '#255774',
          White: '#ffffff',
          Yellow: '#ffe568'
        },
        phone: {
          AppleGraphite: '#686763',
          AppleGreen: '#AEE1CD',
          ApplePurple: '#D1CAE1',
          AppleRed: '#a6282c',
          Black: '#383636',
          Blue: '#2a7ca0',
          Coral: '#ff6e5a',
          Gold: '#fadcc2',
          Green: '#60b287',
          JetBlack: '#000000',
          MidnightGreen: '#6D7971',
          PacificBlue: '#43616C',
          Red: '#dc5455',
          RoseGold: '#fad6d3',
          Silver: '#c9c8c9',
          'Space Gray': '#575c5c',
          SpaceGray: '#575c5c',
          White: '#ffffff',
          Yellow: '#ffe568'
        }
      }
    },
    countProce() {
      return Object.values(this.device).map(value => Number(value.price || 0)).reduce((a, b) => a + b)
    }
  },
  mounted() {
    this.fetchProductData()
  },
  methods: {
    fetchProductData() {
      // TODO
      // Call API 抓取產品資料並依產品類型分類。
      // API URL : http://localhost:3000/mod-nx
      fetch('http://localhost:3000/mod-nx').then(res => res.json()).then(result => {
        const deviceNameList = [...new Set(result.data.map(data => data.tags.find(tag => /^device-/.test(tag))))]
        deviceNameList.forEach(deviceName => {
          const deviceLabel = deviceName.replace(/^device-/, '').split('-').map(name => {
            if (name === 'iphone') return 'iPhone'
            else return name.substr(0, 1).toUpperCase() + name.substr(1)
          }).join(' ')
          const product = {
            deviceName: deviceName,
            deviceLabel: deviceLabel, // 下拉顯示用
            colors: [[]]
          }
          result.data.filter(data => data.tags.includes(deviceName)).forEach(data => {
            // 過濾透明背板
            if (data.tags.includes('category-mod-nx-backplate-basic')) return false
            const type = data.tags.find(tag => /^type-mod-/.test(tag)).replace(/^type-mod-(nx-)?/, '').replace(/-45degree$/, '')
            product[type] = data
            if (type === 'backplate') {
              product[type].variants = product[type].variants.filter(variant => variant.optionsWithKey.bundleNumber === 'yes')
            }
            if (['button', 'frame', 'rim'].includes(type)) {
              product.colors.push(data.variants.map(variant =>
                (variant.optionsWithKey.color || variant.optionsWithKey.Color).replace(/[^A-Za-z\s]/g, '').trim()
              ))
              product.colors[0].push(...product.colors[product.colors.length - 1])
            }
          })
          // 取button, frame, rim共有的顏色
          product.colors[0] = [...new Set(product.colors[0])]
            .filter(color => product.colors.slice(1).every(colors => colors.includes(color)))
          product.colors = product.colors[0]
          this.productList.push(product)
        })
        this.selectProduct(this.productList[0])
      })
    },
    selectProduct(product) {
      this.product = product
      this.selectPhone(product.phone.variants[0])
      this.selectColor(product.colors[0])
      this.selectBackplate(product.backplate.variants[0], false)
    },
    selectPhone(phone) {
      this.device.phone = phone
    },
    selectColor(color) {
      this.caseColor = color
      this.device.button = this.product.button.variants.find(variant => variant.optionsWithKey.color === color)
      this.device.frame = this.product.frame.variants.find(variant => variant.optionsWithKey.Color === color)
      this.device.rim = this.product.rim.variants.find(variant => variant.optionsWithKey.color === color)
    },
    selectBackplate(backplate, changeCaseType = true) {
      if (changeCaseType) this.caseType = 'standard'
      this.device.backplate = backplate
    },
    addToCart() {
      // TODO
      // 把選取的產品加到 cartItems 裡面並 console 出來
      this.cartItems.push(JSON.parse(JSON.stringify(this.device)))
      console.log(this.cartItems[this.cartItems.length - 1])
    }
  }
}
</script>

<style lang="sass" scoped>
@font-face
  font-family: MarkPro-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro-Bold.otf?12401685184872946130')

@font-face
  font-family: NotoSansCJKtc-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Bold.otf?12610878586689504297')

@font-face
  font-family: MarkPro
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro.otf?4269257120200746974')

@font-face
    font-family: NotoSansCJKtc-Regular
    src: url(https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Regular.otf?4935245772218057441)

#purchase
  position: relative
  width: 100%
  height: 100%
  max-width: 1440px
  display: flex
  padding: 120px 60px
  align-items: flex-start
  justify-content: space-between
  box-sizing: border-box

.purchase__title-wrapper
  width: 25%
  max-width: 220px

.display__area
  height: 100%

.selection__area
  display: flex
  flex-direction: column
  justify-content: space-between
  align-self: stretch
  margin-left: 70px
  width: 35%
  max-width: 260px
  .device__selector
    position: relative
    border: 1px solid #D8D8D8
    margin-bottom: 25px
    height: 40px
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    padding: 0 20px
    >select
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0
      cursor: pointer
    &::after
      content: ''
      border: 2px solid #000000
      border-top: none
      border-left: none
      display: block
      width: 4px
      height: 4px
      transform: rotate(45deg)

  .checkout
    &__detail
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'

      &__info
        margin: 15px 0
        padding: 0
        line-height: 14px
        font-size: 14px
        text-align: left

    &__button__block
      display: flex
      justify-content: space-between
      align-items: center
      font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'

      .price
        font-size: 14px
        text-algin: right

    &__btn
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 40px
      max-width: 180px
      color: #FFF
      // font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'
      box-shadow: none
      border: none
      border-radius: 20.5px
      background-color: #2D2D2D
      transition: all .3s ease
      white-space: inherit
      cursor: pointer

  .outward
    border-top: 2px solid #D8D8D8

  .option__block
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 20px 0
    border-bottom: 1px solid #D8D8D8

    .option__title
      font-size: 14px
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'
      color: #2D2D2D

    .icon
      position: absolute
      right: 0
      top: 50%
      width: 16px
      height: 16px
      transform: translateY(-50%)
      cursor: pointer

      &::before
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transform: rotate(90deg)
        transition: all .3s ease

      &::after
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transition: all .3s ease

    p
      margin: 0
      padding: 0
  .case_color
    ul
      list-style: none
      display: flex
      flex-wrap: wrap
      padding: 0
      margin: 0
      li
        position: relative
        cursor: pointer
        width: 16px
        height: 16px
        margin-right: 15px
        margin-top: 13px
        border-radius: 50%
        &::before
          content: ''
          display: block
          position: absolute
          top: -3px
          left: -3px
          right: -3px
          bottom: -3px
          border-radius: 50%
          border: 1px solid transparent
          transition: all 0.3s ease
        &:hover, &.active
          &::before
            border-color: #d5d5d5
  .backplate_style
    .backplate_container
      display: flex
      flex-wrap: wrap
    .backplate_box
      width: 50px
      height: 50px
      border-radius: 8px
      background: #FFFFFF
      flex-shrink: 0
      cursor: pointer
      position: relative
      overflow: hidden
      margin-right: 10px
      margin-top: 10px
      transition: all 0.3s ease
      &.active
        box-shadow: 0 0 0 2px #2D2D2D
      >img
        position: absolute
        top: 5px
        left: 50%
        transform: translateX(-50%)
        width: 200%

.purchase__preview
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 650px
  height: 100%
  &-images-wrapper
    position: relative
    height: 70%
  &-image
    transition: all .3s
    &.main
      position: relative
      height: 100%
      z-index: 2
    &.sub
      position: absolute
      height: 100%
      top: 0
      left: 0
    &--backward
      z-index: 1 !important
      transform: translate(12%,-10%)
    &.case
      z-index: 3
    &.backplate
      z-index: 2

.purchase__selector-wrapper
  &.phone
    position: absolute
    top: 50%
    left: 25%
    transform: translateY(-50%)
    z-index: 3

.purchase__backplate-switch-wrapper
  position: absolute
  top: 50px
  right: 0
  z-index: 3
  .backplate-switch
    --switch-color: #2D2D2D
    &__option
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      margin-bottom: 20px
    &__checkbox
      width: 28px
      height: 28px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      transition: 0.3s ease
      margin-right: 20px
      border: 1px solid transparent
      &::before
       content: ''
       display: block
       width: 12px
       height: 12px
       border: 1px solid var(--switch-color)
       border-radius: 50%
       transition: 0.3s ease
      &--active, &:hover
        border-color: var(--switch-color)
        &::before
         background-color: var(--switch-color)
    &__mode-name
      margin: 0

.color-picker-title
  position: absolute
  top: 0
  right: 0
  margin: 0
  font-size: 12px
  color: #000
  line-height: normal
  text-transform: uppercase
  transform: translateY(-120%)
  opacity: .2

.color-picker--vertical
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  --desc-text-width: 150px
  --desc-dash-width: 16px
  --desc-dash-margin: 13px

  &.normal
    --border-color: #d5d5d5
    --hover-border: #d5d5d5
    --dash-color: #d8d8d8
    --font-color: #2d2d2d

  &__option
    position: relative
    width: 29px
    height: 29px
    border: 1px solid transparent
    border-radius: 50%
    z-index: 200
    transition: all .3s ease
    margin-bottom: 18px
    display: flex
    align-items: center
    justify-content: center
    &:hover, &.active
      border: 1px solid var(--hover-border)
    .active, .dot
      width: 23px
      height: 23px
    .dot
      border: 1px solid var(--border-color)
      border-radius: 50%
      cursor: pointer

.apple_graphite
  background-color: #686763

.silver
  background-color: #c9c8c9

.gold
  background-color: #fadcc2

.pacific_blue
  background-color: #43616c
</style>
